Package: themer
Version: 1.1.0
Description: Adds basic theming support to the Venus OS
Section: utilities
Priority: optional
Maintainer: thespinmaster@github.com
License: MIT
Architecture: all
OE: einstine
Source: https://thespinmaster.github.io/venus-os-addons/tree/main/feeds/main/themer
Depends: vespera