Package: network-gps
Version: 1.1.0
Description: Network GPS using NMEA
Section: utilities
Priority: optional
Maintainer: thespinmaster@github.com
License: MIT
Architecture: all
OE: network-gps
Source: https://thespinmaster.github.io/venus-os-addons
Depends: vespera