Package: opkg-manager
Version: 1.1.0
Description: A manager for installing opkg packages on the Venus OS
Section: utilities
Priority: optional
Maintainer: thespinmaster@github.com
License: MIT
Architecture: all
OE: einstine
Source: https://thespinmaster.github.io/venus-os-addons
# This package requires gui-v2-webassembly 1.2.40 or newer (v3.80~44)
# Depends: gui-v2-webassembly (>= 1.2.40)
#Depends: gui-v2-webassembly (>= 1.2.40)
